<IfModule mod_ssl.c>
{# Don't create virtual hosts unless we are told about them #}
# Only enable virtual hosts if we have mod_ssl
	<VirtualHost *:{{ vhost['https_port'] | default(apache2_global_https_port) }}>
		ServerName {{ vhost['server_name_external'] }}

		# Allow enabling HTTP/2, if available
		Protocols {{ vhost['protocols'] | default(["h2", "http/1.1"]) | join(' ') }}

		SSLVerifyClient {{ vhost['ssl_verify_client'] | default('On') }}

		{% if apache2_global_default_deny_directories %}

		<Directory "{{ vhost['document_root'] | default("/var/www/" + vhost['server_name_external']) }}">
			AllowOverride {{ vhost['document_root_overrides'] | default("None") }}
			Require all granted
		</Directory>
		{% endif %}

		DocumentRoot "{{ vhost['document_root'] | default("/var/www/" + vhost['server_name_external']) }}"

		{% if vhost['additional_directives'] is defined %}

{{ vhost['additional_directives'] }}

		{% endif %}

		ErrorLog ${APACHE_LOG_DIR}/error_{{ vhost['server_name_external'] }}.log
		Customlog ${APACHE_LOG_DIR}/access_{{ vhost['server_name_external'] }}.log combined
	</VirtualHost>
</IfModule>
