---
- name: Ensure fail2ban installed
  become: yes
  ansible.builtin.apt:
    name:
    - fail2ban
    state: present
- name: Add fail2ban defaults
  become: yes
  ansible.builtin.template:
    dest: /etc/fail2ban/jail.local
    group: root
    mode: "0644"
    owner: root
    src: jail.local.j2
  notify: Reload fail2ban
- name: Add additional fail2ban jails, if supplied
  become: yes
  notify: Reload fail2ban
  ansible.builtin.template:
    dest: /etc/fail2ban/jail.d/{{ item.dest }}.local
    group: root
    mode: "0644"
    owner: root
    src: extra_jail.local.j2
  loop: "{{ f2b_jails }}"
  loop_control:
    label: "{{ item.dest }}"
  when: f2b_jails is defined
...
