2bounce_notice_recipient = postmaster
alias_database = hash:/etc/aliases
alias_maps = hash:/etc/aliases
append_dot_mydomain = no
biff = no
bkmx_recipient_restrictions = reject_unknown_recipient_domain, reject_unlisted_recipient
bkmx_relay_restrictions = permit_mynetworks, reject_unauth_destination
bkmx_sasl_auth_enable=no
bkmx_tls_auth_only=yes
bkmx_tls_CAfile={{ private_ca_cert_file }}
bkmx_tls_cert_file={{ private_cert_cert_file }}
bkmx_tls_key_file={{ private_cert_key_file }}
bkmx_tls_req_ccert=yes
bkmx_tls_security_level=encrypt
bounce_notice_recipient = postmaster
compatibility_level = 2
inet_interfaces = all
inet_protocols = ipv4 ipv6
lmtp_tls_CAfile={{ private_ca_cert_file }}
lmtp_tls_cert_file={{ private_client_cert_cert_file }}
lmtp_tls_fingerprint_digest = sha256
lmtp_tls_key_file={{ private_client_cert_key_file }}
lmtp_tls_security_level=verify
local_recipient_maps = proxy:unix:passwd.byname $alias_maps
luser_relay =
mailbox_size_limit = 0
# milter macros useful for spamass-milter
milter_connect_macros = j {daemon_name} v {if_name} _
milter_data_macros = j i {auth_type} {daemon_name} v {if_name} _
milter_rcpt_macros = j {auth_type} {daemon_name} v {if_name} _
milter_default_action=accept
milter_macro_daemon_name=MTA
mta_milters = unix:opendkim/opendkim.sock unix:opendmarc/opendmarc.sock unix:spamass/spamass.sock unix:clamav/clamav-milter.ctl
mta_recipient_restrictions = permit_mynetworks, reject_unknown_recipient_domain, reject_rbl_client zen.spamhaus.org, reject_unlisted_recipient, check_policy_service unix:private/policyd-spf
mta_relay_restrictions = permit_mynetworks, reject_unauth_destination
mta_sasl_auth_enable=no
mta_tls_auth_only=yes
mta_tls_security_level=may
#mua_authorized_xclient_hosts = 127.0.0.1
mua_authorized_xclient_hosts = {{ libvirt_guest_definitions[envname]['imap']['v4addr'] }} [{{ libvirt_guest_definitions[envname]['imap']['v6addr'] }}]
mua_milters = unix:opendkim/opendkim.sock unix:spamass/spamass.sock unix:clamav/clamav-milter.ctl
mua_recipient_restrictions = permit_mynetworks, reject_unknown_recipient_domain, reject_unlisted_recipient
mua_relay_restrictions = permit_mynetworks, reject_unauth_destination
mua_sasl_auth_enable=no
mua_sender_restrictions = reject_unlisted_sender
mua_tls_auth_only=yes
mua_tls_CAfile={{ private_ca_cert_file }}
mua_tls_cert_file={{ private_cert_cert_file }}
mua_tls_key_file={{ private_cert_key_file }}
mua_tls_req_ccert=yes
mua_tls_security_level=encrypt
mydestination = {{ mail_local_destinations | unique | join(' ') }}
mydomain = {{ ansible_facts['fqdn'] }}
myhostname = {{ ansible_facts['fqdn'] }}
mynetworks_style = host
myorigin = {{ ansible_facts['fqdn'] }}
notify_classes = resource, software, 2bounce
policyd-spf_time_limit = 3600
readme_directory = no
relayhost = [localhost] # No outgoing non-local mail; FIXME: should be empty when we can send externally
sender_dependent_default_transport_maps = hash:/etc/postfix/sender_default_transport_map
smtp_tls_CApath=/etc/ssl/certs
smtp_tls_fingerprint_digest = sha256
smtp_tls_security_level=may
smtp_tls_session_cache_database = btree:${data_directory}/smtp_scache
#smtpd_banner = $myhostname ESMTP $mail_name (Debian/GNU)
smtpd_banner = $myhostname ESMTP $mail_name
smtpd_client_restrictions = reject_unauth_pipelining
smtpd_milters = unix:opendkim/opendkim.sock unix:opendmarc/opendmarc.sock unix:spamass/spamass.sock unix:clamav/clamav-milter.ctl
smtpd_recipient_restrictions = permit_mynetworks, reject_unknown_recipient_domain, reject_rbl_client zen.spamhaus.org, reject_unlisted_recipient, check_policy_service unix:private/policyd-spf
smtpd_relay_restrictions = permit_mynetworks, reject_unauth_destination
smtpd_sasl_auth_enable=no
# smtpd config:
# generated 2022-12-29, Mozilla Guideline v5.6, Postfix 3.5.17, OpenSSL 1.1.1n, intermediate configuration
# https://ssl-config.mozilla.org/#server=postfix&version=3.5.17&config=intermediate&openssl=1.1.1n&guideline=5.6
smtpd_tls_auth_only = yes
smtpd_tls_cert_file = {{ public_cert_cert_file }}
# curl https://ssl-config.mozilla.org/ffdhe2048.txt > /path/to/dhparam
# [or openssl genpkey -genparam -algorithm DH -pkeyopt group:ffdhe2048 -out /path/to/dhparam]
# not actually 1024 bits, this applies to all DHE >= 1024 bits
smtpd_tls_dh1024_param_file = {{ smtpd_dh_param_file }}
smtpd_tls_fingerprint_digest = sha256
smtpd_tls_key_file = {{ public_cert_key_file }}
smtpd_tls_security_level=may
smtpd_tls_mandatory_ciphers = medium
smtpd_tls_mandatory_protocols = !SSLv2, !SSLv3, !TLSv1, !TLSv1.1
smtpd_tls_protocols = !SSLv2, !SSLv3, !TLSv1, !TLSv1.1
tls_medium_cipherlist = ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384
tls_preempt_cipherlist = no
unknown_local_recipient_reject_code = 550
unverified_recipient_reject_reason = Address lookup failed
virtual_alias_domains = {{ virtual_alias_domains | join(' ') }}
virtual_alias_maps = hash:/etc/postfix/virtual_aliases
virtual_mailbox_domains = {{ virtual_mailbox_domains | join(' ') }}
virtual_mailbox_maps = hash:/etc/postfix/vmailbox
virtual_transport = lmtp:inet:{{ mailbox_server_fqdn }}
