	# generated 2022-12-24, Mozilla Guideline v5.6, HAProxy 2.2.9, OpenSSL 1.1.1n, intermediate configuration, no HSTS
	# https://ssl-config.mozilla.org/#server=haproxy&version=2.2.9&config=intermediate&openssl=1.1.1n&hsts=false&guideline=5.6

	# curl https://ssl-config.mozilla.org/ffdhe2048.txt > /path/to/dhparam
	# [or openssl genpkey -genparam -algorithm DH -pkeyopt group:ffdhe2048 -out /path/to/dhparam]
	ssl-dh-param-file {{ ha_dhparam_file }}
