backend be_sogo
	balance roundrobin

	server sogo01 gdavldev.ldev:{{ libvirt_guest_definitions[envname]['gdav']['gdav_port'] }} send-proxy check ssl crt {{ private_client_cert_full_file }} ca-file {{ env_conn_admin[envname]['private_ca_cert_file'] }} verify required
