[sshd]
#mode = normal
{% if (item['ssh_port'] is defined | ternary(item['ssh_port'], netdata['ssh_port'])) != 22 %}
port = ssh,{{item['ssh_port'] is defined | ternary(item['ssh_port'], netdata['ansible_ssh_port']) }}
{% else %}
port = ssh
{% endif %}
enabled = true
