mail_location = sdbox:~/mail
mail_server_admin = mailto:{{ central_local_email }}
ssl = required
ssl_cert = <{{ host_public_cert_cert_file }}
ssl_key = <{{ host_public_cert_key_file }}
ssl_cipher_list = ALL:!kRSA:!SRP:!kDHd:!DSS:!aNULL:!eNULL:!EXPORT:!DES:!3DES:!MD5:!PSK:!RC4:!ADH:!LOW@STRENGTH:!MEDIUM@STRENGTH
# For Dovecot acting as client (e.g. submission)
ssl_client_ca_file = {{ env_conn_admin[envname]['private_ca_cert_file'] }}
ssl_client_cert = <{{ host_private_client_cert_cert_file }}
ssl_client_key = <{{ host_private_client_cert_key_file }}
ssl_min_protocol = TLSv1.2
ssl_prefer_server_ciphers = yes
imap_client_workarounds = tb-extra-mailbox-sep tb-lsub-flags
#submission_max_recipients = 20
#submission_relay_host = {{ submission_relay_host }}
#submission_relay_port = {{ submission_relay_port }}
#submission_relay_trusted = yes
#submission_relay_ssl = starttls
