---
backupmx_port: "{{ vault_libvirt_guest_definitions[envname]['smtp01']['backupmx_port'] }}"
default_mail_local_destinations: "{{ vault_default_mail_local_destinations }}"
email_interfaces: "{{ vault_email_interfaces_map[envname] }}"
email_interfaces_map: "{{ vault_email_interfaces_map }}"
email_relayhost: "{{ vault_email_relayhost_map[envname] }}"
email_relayhost_map: "{{ vault_email_relayhost_map }}"
external_relayhost: "{{ vault_env_conn_admin[envname]['external_relayhost'] }}"
gdav_port: "{{ libvirt_guest_definitions[envname]['gdav']['gdav_port'] }}"
gdav_server_name_external: "{{ vault_env_conn_admin[envname]['gdav_server_name_external'] }}"
ha_dhparam: "{{ vault_env_conn_admin[envname]['ha_dhparam'] }}"
ha_dhparam_file: "{{ vault_env_conn_admin[envname]['ha_dhparam_file'] }}"
ha_mal_beginnings: "{{ vault_env_conn_admin[envname]['ha_mal_beginnings'] }}"
ha_mal_endings: "{{ vault_env_conn_admin[envname]['ha_mal_endings'] }}"
ha_mal_host_doms: "{{ vault_env_conn_admin[envname]['ha_mal_host_doms'] }}"
ha_mal_query_substrings: "{{ vault_env_conn_admin[envname]['ha_mal_query_substrings'] }}"
ha_mal_substrings: "{{ vault_env_conn_admin[envname]['ha_mal_substrings'] }}"
ha_stats_users: "{{ vault_env_conn_admin[envname]['ha_stats_users'] }}"
instance_v4address: "{{ ansible_facts['default_ipv4']['address'] }}"
instance_fqdn: "{{ ansible_facts['fqdn'] }}"
instance_hostname: "{{ ansible_facts['hostname'] }}"
instance_name: "{{ (env_guest_userdata[envname] | dict2items | selectattr('value.fqdn', 'equalto', inventory_hostname)).0.key }}"
libvirt_guest_definitions: "{{ vault_libvirt_guest_definitions }}"
libvirt_os_base_image_name: debian-11-generic-amd64-20221219-1234.qcow2
libvirt_os_cloud_image_sha512sums_url: "https://cloud.debian.org/images/cloud/bullseye/20221219-1234/SHA512SUMS"
libvirt_os_cloud_image_url: "https://cloud.debian.org/images/cloud/bullseye/20221219-1234/debian-11-generic-amd64-20221219-1234.qcow2"
libvirt_pool_base_images: "{{ host_libvirt_pool_base_images }}"
libvirt_pool_base_images_path: "{{ host_libvirt_pool_base_images_path }}"
libvirt_pool_cloud_init: "{{ host_libvirt_pool_cloud_init }}"
libvirt_pool_cloud_init_path: "{{ host_libvirt_pool_cloud_init_path }}"
mail_groupware_users: "{{ vault_env_conn_admin[envname]['mail_groupware_users'] }}"
mail_local_destinations: "{{ env_depends_conn_admin[envname]['mail_local_destinations'] }}"
private_ca_cert_certificate: "{{ vault_env_conn_admin[envname]['private_ca_cert_certificate'] }}"
private_ca_cert_file: "{{ vault_env_conn_admin[envname]['private_ca_cert_file'] }}"
private_client_cert_cert_content: "{{ host_private_client_cert_cert_content }}"
private_client_cert_cert_file: "{{ host_private_client_cert_cert_file }}"
private_client_cert_key_content: "{{ host_private_client_cert_key_content }}"
private_client_cert_key_file: "{{ host_private_client_cert_key_file }}"
private_client_cert_full_file: "{{ host_private_client_cert_cert_file | replace('-cert', '-full') | default(None) }}"
private_cert_content: "{{ host_private_client_content }}"
private_cert_cert_file: "{{ host_private_cert_cert_file }}"
private_cert_full_file: "{{ host_private_client_cert_full_file | replace('-cert', '-full') | default(None) }}"
private_cert_key_content: "{{ host_private_cert_key_content }}"
private_cert_key_file: "{{ host_private_cert_key_file }}"
private_email_domain: "{{ vault_env_conn_admin[envname]['private_email_domain'] }}"
private_email_user: "{{ vault_env_conn_admin[envname]['private_email_user'] }}"
private_email_user_aliases: "{{ vault_env_conn_admin[envname]['private_email_user_aliases'] }}"
public_cert_cert_file: "{{ host_public_cert_cert_file }}"
public_cert_cert_file_src: "{{ host_public_cert_cert_file_src }}"
public_cert_full_file: "{{ host_public_cert_full_file }}"
public_cert_key_file: "{{ host_public_cert_key_file }}"
public_cert_key_file_src: "{{ host_public_cert_key_file_src }}"
public_cert_key_private_key: "{{ host_public_cert_private_key }}"
public_email_domain: "{{ vault_env_conn_admin[envname]['public_email_domain'] }}"
public_email_user: "{{ vault_env_conn_admin[envname]['public_email_user'] }}"
public_email_user_aliases: "{{ vault_env_conn_admin[envname]['public_email_user_aliases'] }}"
smtp_port: "{{ libvirt_guest_definitions[envname]['smtp01']['smtp_port'] }}"
smtpd_dh_param: "{{ vault_env_conn_admin[envname]['smtpd_dh_param'] }}"
smtpd_dh_param_file: "{{ vault_env_conn_admin[envname]['smtpd_dh_param_file'] }}"
sogo_encryption_key: "{{ vault_env_conn_admin[envname]['sogo_encryption_key'] }}"
sogodb_password: "{{ vault_env_conn_admin[envname]['sogodb_password'] }}"
virtual_alias_domains: "{{ mail_groupware_users | selectattr('alias_domains', 'defined') | map(attribute='alias_domains') | unique | difference(virtual_mailbox_domains) | unique }}"
virtual_alias_domains_hosts: "{{ ([groups['all'] | map('extract', hostvars, 'ansible_facts') | reject('eq', {}) | map(attribute='fqdn'), hostvars | dict2items | map(attribute='key')] | flatten(levels=1)) | unique | difference([virtual_alias_domains, virtual_mailbox_domains] | flatten | unique) }}"
virtual_mailbox_domains: "{{ mail_groupware_users | map(attribute='maildomain') | unique }}"
well_known_admin_aliases: "{{ vault_well_known_admin_aliases }}"
webhosts_add_www: "{{ vault_env_conn_admin[envname]['webhosts_add_www'] }}"
webhosts_noadd_www: "{{ vault_env_conn_admin[envname]['webhosts_noadd_www'] }}"
websites_static: "{{ vault_env_conn_admin[envname]['websites_static'] }}"
...
