use chroot = no
read only = no
syslog facility = local4
syslog tag = {{  ( item['vhost']['server_name_external'] | split('.') )[0] }}

[{{ ( item['vhost']['server_name_external'] | split('.'))[0] }}]
path = /var/www/{{ item['vhost']['server_name_external'] }}

{% if item['subsites'] is defined %}
{% for subsite in item['subsites'] %}
[{{ subsite }}]
path = /var/www/{{ item['vhost']['server_name_external'] }}/{{ subsite }}
{% endfor %}
{% endif %}
