userlist stats-auth
	group readonly
	group admin
{% for hauser in ha_stats_users %}
	user {{ hauser.name }} {{ hauser.password_type }} {{ hauser.password }} groups {{ hauser.groups | join(',') }}
{% endfor %}
