frontend fe_http_s
	bind 0.0.0.0:{{ https_port }},[::]:{{ https_port }} ssl crt {{ public_cert_full_file }} alpn h2,http/1.1
	bind 0.0.0.0:{{ http_port }},[::]:{{ http_port }}

	option abortonclose

	log-format "%{+Q}o %{-Q}ci %{-Q}[capture.req.hdr(0)] - [%trg] %r %ST %B %[capture.req.hdr(1)] %[capture.req.hdr(2)] %cp %ms %ft %b %s"
	capture request header Host len 255
	capture request header Referer len 512
	capture request header User-Agent len 512

	filter cache main
	filter compression

	# Use General Purpose Counter 0 in SC0 as a global abuse counter
	# protecting all our sites
	stick-table type ip size 2m expire 10m store gpc0
	tcp-request connection track-sc0 src
	tcp-request connection reject if { sc0_get_gpc0 gt 0 }

	acl path_mal_beg path_beg -f /etc/haproxy/acl-files/mal_beg.txt
	acl path_mal_sub path_sub -f /etc/haproxy/acl-files/mal_sub.txt
	acl path_mal_end path_end -f /etc/haproxy/acl-files/mal_end.txt
	acl path_mal_host_dom hdr(host) -m dom -f /etc/haproxy/acl-files/mal_host_dom.txt
	acl query_mal_sub query -m sub -f /etc/haproxy/acl-files/mal_query_sub.txt

	acl path_acme path_beg /.well-known/acme-challenge/
	acl path_stats path /server-stats
	acl path_root path /

	acl uri_pdf capture.req.uri -m end .pdf
	acl uri_svg capture.req.uri -m end .svg

	acl dom_gate hdr(host) gate{{ env_domain_addon }} gate{{ env_domain_addon }}.thecshore.ca
	acl dom_gdav hdr(host) gdav{{ env_domain_addon }} gdav{{ env_domain_addon }}.thecshore.ca
	acl dom_web_nowww hdr(host) -f /etc/haproxy/acl-files/web_nowww.txt
	acl dom_web_www hdr(host) -f /etc/haproxy/acl-files/web_www.txt

	http-request deny if path_mal_beg || path_mal_sub || path_mal_end || path_mal_host_dom || query_mal_sub

	http-request redirect location "https://www.%[capture.req.hdr(0)]%HP" code 301 if dom_web_www !{ hdr_beg(host) -i www }
	http-request redirect prefix https://%[capture.req.hdr(0)]/SOGo code 301 if path_root dom_gdav
	http-request redirect scheme https code 301 if !{ ssl_fc } !path_acme dom_gate
	http-request redirect scheme https code 301 if !{ ssl_fc } !path_acme dom_gdav
	http-request redirect scheme https code 301 drop-query if !{ ssl_fc } !path_acme dom_web_nowww
	http-request redirect scheme https code 301 drop-query if !{ ssl_fc } !path_acme dom_web_www
	http-request redirect location "https://%[capture.req.hdr(0)]%[path]" code 301 if { query -m found } !dom_gate !dom_gdav

	http-request allow if dom_gate || dom_gdav || dom_web_nowww || dom_web_www

	http-response set-header Access-Control-Allow-Origin https://%[capture.req.hdr(0)]/
	http-response set-header Cross-Origin-Opener-Policy same-origin if !{ res.hdr(cross-origin-opener-policy) }
	http-response set-header Cross-Origin-Embedder-Policy require-corp if !{ res.hdr(cross-origin-embedder-policy) -m found }
	http-response set-header Referrer-Policy no-referrer if !{ res.hdr(referrer-policy) -m found }
	http-response set-header Vary Origin,Accept-Encoding if !{ res.hdr(vary) -m found }
	http-response set-header X-Content-Type-Options nosniff if !{ res.hdr(x-content-type-options) -m found }
	http-response set-header X-Frame-Options DENY if !{ res.hdr(x-frame-options) -m found } || !uri_pdf
	http-response set-header X-Frame-Options SAMEORIGIN if uri_pdf
	http-response set-header Content-Security-Policy default-src\ https://%[capture.req.hdr(0)]/;\ object-src\ https://%[capture.req.hdr(0)]/ if !{ res.hdr(content-security-policy) -m found } !uri_pdf !uri_svg
	http-response set-header Content-Security-Policy default-src\ https://%[capture.req.hdr(0)]/\ \'unsafe-inline\';\ object-src\ https://%[capture.req.hdr(0)]/ if !{ res.hdr(content-security-policy) -m found } uri_pdf || !{ res.hdr(content-security-policy) -m found } uri_svg

	# use_backend be_certbot if path_acme HTTP

	use_backend be_webhost if dom_web_nowww || dom_web_www
	use_backend be_sogo if dom_gdav
	use_backend be_server_stats if path_stats dom_gate

	default_backend be_dummy
