backend be_webhost
	balance roundrobin

	stick-table type ip size 2m expire 10m store http_req_rate(10s)
	acl suspect_scan sc2_http_req_rate gt 100
	acl suspected_abuser sc0_inc_gpc0(fe_http_s) gt 0
	tcp-request content track-sc2 src
	tcp-request content reject if suspect_scan suspected_abuser

	server webhost01 www{{ env_domain_addon }}:{{ www_port }} send-proxy check ssl crt {{ private_client_cert_full_file }} ca-file {{ private_ca_cert_file }} verify required alpn h2,http/1.1
