[Resolve]
DNSSEC=yes
MulticastDNS=no
LLMNR=no
Domains={{ ansible_facts['domain'] }} {% if ansible_facts['domain'] != internal_domain %}{{ internal_domain }}{% endif %}

FallbackDNS={{ fallback_dns }}
