root: {{ central_local_email }}

# Basic system aliases
MAILER-DAEMON: postmaster
postmaster: {{ local_admin_user }}
{% for admin_alias in ( well_known_admin_aliases | difference( [ local_admin_user ]  )) %}
{{ admin_alias }}: root
{% endfor %}
