2bounce_notice_recipient = postmaster
alias_database = hash:/etc/aliases
alias_maps = hash:/etc/aliases
append_dot_mydomain = no
biff = no
bounce_notice_recipient = postmaster
compatibility_level = 2
inet_interfaces = all
inet_protocols = ipv4
luser_relay =
mailbox_size_limit = 0
mydestination = {{  mail_local_host_destinations | unique | join(' ') }}
mydomain = {{ ansible_facts['fqdn'] }}
myhostname = {{ ansible_facts['fqdn'] }}
mynetworks = 127.0.0.0/8
readme_directory = no
recipient_delimiter = +
relayhost = {{ email_relayhost }}
smtpd_banner = $myhostname ESMTP $mail_name
smtpd_recipient_restrictions = permit_mynetworks, reject_unknown_recipient_domain, reject_unlisted_recipient
smtpd_relay_restrictions = permit_mynetworks reject_unauth_destination
smtpd_sasl_auth_enable=no
smtpd_tls_cert_file = {{ public_cert_cert_file }}
smtpd_tls_fingerprint_digest = sha256
smtpd_tls_key_file = {{ public_cert_key_file }}
smtpd_tls_security_level=may
smtp_tls_CApath=/etc/ssl/certs
smtp_tls_fingerprint_digest = sha256
smtp_tls_security_level=may
smtp_tls_session_cache_database = btree:${data_directory}/smtp_scache
unknown_local_recipient_reject_code = 550

