2bounce_notice_recipient = postmaster
alias_database = hash:/etc/aliases
alias_maps = hash:/etc/aliases
append_dot_mydomain = no
biff = no
bounce_notice_recipient = postmaster
compatibility_level = 2
inet_interfaces = {{ email_interfaces }}
inet_protocols = ipv4 ipv6
luser_relay =
mailbox_size_limit = 0
mydestination = {{ mail_local_destinations | unique | join(' ') }}
mydomain = {{ ansible_facts['fqdn'] }}
myhostname = {{ ansible_facts['fqdn'] }}
mynetworks = 127.0.0.0/8
readme_directory = no
recipient_delimiter = +
{% if email_relayhost != "localhost" %}
relayhost = [{{ email_relayhost }}]:{{ internal_relay_port }}
{% else %}
relayhost = [localhost]
{% endif %}
smtpd_banner = $myhostname ESMTP $mail_name
smtpd_recipient_restrictions = permit_mynetworks, reject_unknown_recipient_domain, reject_unlisted_recipient
smtpd_relay_restrictions = permit_mynetworks reject_unauth_destination
smtpd_sasl_auth_enable=no
smtpd_tls_fingerprint_digest = sha256
smtpd_tls_security_level=may
smtp_tls_CAfile = {{ private_ca_cert_file }}
smtp_tls_cert_file = {{ private_client_cert_cert_file }}
smtp_tls_fingerprint_digest = sha256
smtp_tls_key_file = {{ private_client_cert_key_file }}
smtp_tls_mandatory_protocols = !SSLv2, !SSLv3, !TLSv1, !TLSv1.1, !TLSv1.2
smtp_tls_protocols = !SSLv2, !SSLv3, !TLSv1, !TLSv1.1, !TLSv1.2
smtp_tls_security_level=verify
smtp_tls_session_cache_database = btree:${data_directory}/smtp_scache
smtp_tls_verify_cert_match={{ host_email_tls_verify_match | default('hostname') }}
tls_append_default_CA=no
tls_preempt_cipherlist = no
unknown_local_recipient_reject_code = 550

