<network>
	<name>{{ envname }}</name>
	<bridge name="{{ vbridge }}" stp="off" delay="0" />
	<forward mode="nat">
		<nat ipv6="yes">
			<port start='1024' end='65535' />
		</nat>
	</forward>
	<domain name="{{ net_domain }}" />
	<dns enable="yes">
		<host ip="{{ v4nat_addr }}">
			<hostname>{{ ansible_facts['hostname'] }}</hostname>
		</host>
	</dns>
	<ip family="ipv4" address="{{ v4nat_addr }}" prefix="{{ v4nat_prefix }}">
		<dhcp>
			<range start="{{ v4nat_dhcp_start }}" end="{{ v4nat_dhcp_end }}" />
		</dhcp>
	</ip>
	<ip family="ipv6" address="{{ v6nat_addr }}" prefix="{{ v6nat_prefix }}" />
</network>
