# Configuration modified from
# https://bytepursuits.com/apache-enabling-brotli-compression-with-gzip-deflate-fallback
# Also includes settings
# from https://httpd.apache.org/docs/2.4/mod/mod_brotli.html
# Split into brotli.conf, deflate.conf, and no-recompress.conf

# Static Gzip:

# Browser accepts gzip, and matching pre-compressed file exists
# => rewrite to .gz file. For each file format set the correct mime type
# (otherwise gzip mime type is returned), and prevent Apache from
# recompressing the files.
<IfModule mod_rewrite.c>
	<IfModule mod_headers.c>
		# Serve gzip compressed CSS, HTML, JS, or SVG files if they exist and the
		# client accepts gzip.
		RewriteCond "%{HTTP:Accept-encoding}" "gzip"
		RewriteCond "%{REQUEST_FILENAME}.gzip" "-s"
		RewriteRule "^(.+)\.(css|html|js|svg)" "$1\.$2\.gzip" [QSA]

		# Serve correct content types, and prevent double compression
		RewriteRule "\.css\.gzip$" "-" [T=text/css,E=no-brotli,E=no-gzip]
		RewriteRule "\.html\.gzip$" "-" [T=text/html,E=no-brotli,E=no-gzip]
		RewriteRule "\.js\.gzip$" "-" [T=application/javascript,E=no-brotli,E=no-gzip]
		RewriteRule "\.svg\.gzip$" "-" [T=image/svg+xml,E=no-brotli,E=no-gzip]

		<FilesMatch "((\.svg|\.js\|\.html|\.css)\.gzip)$">
			# Serve correct encoding type.
			Header append Content-Encoding gzip

			# Force proxies to cache gzip &
			# non-gzip css/js/html/svg files separately
			Header append Vary Accept-Encoding
		</FilesMatch>
	</IfModule>
</IfModule>

# Dynamic gzip:

<IfModule mod_deflate.c>
	<IfModule mod_filter.c>
		AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css text/json application/json
		AddOutputFilterByType DEFLATE application/x-javascript application/javascript application/ecmascript text/javascript
		AddOutputFilterByType DEFLATE application/rss+xml
		AddOutputFilterByType DEFLATE application/xml application/xhtml+xml
		AddOutputFilterByType DEFLATE image/svg+xml
		AddOutputFilterByType DEFLATE application/x-font-ttf application/vnd.ms-fontobject image/x-icon font/tff font/woff font/woff2
		AddOutputFilterByType DEFLATE application/wasm
	</IfModule>
</IfModule>
# vim: syntax=apache
