<IfModule mod_expires.c>
	ExpiresActive On
	ExpiresDefault M1
	ExpiresByType application/rss+xml "access plus 6 hours"
	ExpiresByType image/avif "access plus 1 year"
	ExpiresByType image/gif "access plus 1 year"
	ExpiresByType image/jpg "access plus 1 year"
	ExpiresByType image/jpeg "access plus 1 year"
	ExpiresByType image/png "access plus 1 year"
	ExpiresByType image/svg+xml "access plus 1 year"
	ExpiresByType image/webp "access plus 1 year"
	ExpiresByType image/x-icon "access plus 1 day"
	ExpiresByType text/css "access plus 1 year"
	ExpiresByType text/javascript "access plus 1 year"
	ExpiresByType application/javascript "access plus 1 year"
	ExpiresByType application/x-javascript "access plus 1 year"
	ExpiresByType text/javascript "access plus 1 year"
	ExpiresByType font/ttf "access plus 1 year"
	ExpiresByType font/woff "access plus 1 year"
	ExpiresByType font/woff2 "access plus 1 year"
	ExpiresByType application/x-font-ttf "access plus 1 year"
	ExpiresByType application/zip "access plus 1 year"
	ExpiresByType application/x-gzip "access plus 1 year"
	ExpiresByType application/x-bzip2 "access plus 1 year"
	ExpiresByType application/pdf "access plus 1 month"
	ExpiresByType application/vnd.openxmlformats-officedocument.presentationxml.presentation "access plus 1 year"
</IfModule>
