---
dependencies:
- role: service_apache2_site
  vars:
    apache2_global_cache_disk_path: /
    virtual_hosts: "{{ websites_static | map(attribute='vhost') }}"
# Because ansible-lint complains otherwise
galaxy_info:
  author: Daniel F. Dickinson <dfdpublic@wildtechgarden.ca>
  description: Configure Apache2 as a static webhost
  license: MIT
  min_ansible_version: "6.0"
  platforms:
  - name: Debian
    versions:
    - all
...
