Port {{ instance_item['ansible_ssh_port'] is defined | ternary(instance_item['ansible_ssh_port'], edata.ansible_ssh_port) }}
PermitRootLogin no
PasswordAuthentication no
KbdInteractiveAuthentication no
