#cloud-config
{% if idata['apt'] is defined %}
apt: {{ idata['apt'] | to_json }}
{% elif ddata['apt'] is defined %}
apt: {{ ddata['apt'] | to_json }}
{% endif %}
{% if (ddata['bootcmd'] is defined) or (idata['bootcmd'] is defined) %}
bootcmd:
{{ [ddata['bootcmd'] is defined | ternary(ddata['bootcmd'], None), idata['bootcmd'] is defined | ternary(idata['bootcmd'], None)] | flatten(1) | to_yaml }}
{% endif %}
{% if idata['disk_setups'] is defined %}
disk_setup:
{% for disk, layout in idata['disk_setups'] | dictsort %}
  {{ disk }}:
    table_type: gpt
    layout: {{ layout | to_json }}
    overwrite: false
{% endfor %}
{% endif %}
{% if idata['fs_setups'] is defined %}
fs_setup:
{% for disk, partitions in idata['fs_setups'] | dictsort %}
{% for partition in partitions %}
- device: {{ disk }}
  filesystem: ext4
  overwrite: false
  partition: {{ partition }}
{% endfor %}
{% endfor %}
{% endif %}
fqdn: {{ idata['fqdn'] }}
{% if ( ddata['groups'] is defined ) or ( idata['groups'] is defined ) %}
groups: {{ [ddata['groups'] is defined | ternary(ddata['groups'], None), idata['groups'] is defined | ternary(idata['groups'], None)] | flatten(1) | unique | to_json }}
{% endif %}
hostname: {{ idata.hostname }}
{% if idata['mounts'] is defined %}
mounts: {{ idata['mounts'] | to_json }}
{% endif %}
{% if idata['ntp_servers'] is defined %}
ntp:
  enabled: true
  ntp_client: chrony
  servers: {{ idata['ntp_servers'] | to_json }}
{% endif %}
packages: {{ [ddata.packages, idata['packages']] | flatten(1) | unique | to_json }}
package_update: true
package_upgrade: true
package_reboot_if_required: false
preserve_hostname: false
runcmd: {{ [ddata.runcmd_before, idata['runcmd'] is defined | ternary(idata['runcmd'], None), ddata.runcmd_after] | flatten(1) | unique | to_json }}
{% if idata['ssh_keys'] is defined %}
ssh_keys: {{ idata['ssh_keys'] | to_json }}
{% endif %}
{% if ddata['users'] is defined or idata['users'] is defined %}
users:
{% for user in [ddata['users'] is defined | ternary(ddata['users'], None), idata['users'] is defined | ternary(idata['users'], None)] | flatten(1) %}
- name: {{ user.name }}
{% if user['gecos'] is defined %}
  gecos: {{ user['gecos'] }}
{% endif %}
{% if user['groups'] is defined %}
  groups: {{ user['groups'] | to_json }}
{% endif %}
{% if user['homedir'] is defined %}
  homedir: {{ user['homedir'] }}
{% endif %}
{% if user['lock_passwd'] is defined %}
  lock_passwd: {{ user['lock_passwd'] }}
{% endif %}
{% if user['plain_text_passwd'] is defined %}
  plain_text_passwd: {{ user['plain_text_passwd'] }}
{% endif %}
{% if user['shell'] is defined %}
  shell: {{ user['shell'] }}
{% endif %}
{%if user['ssh_authorized_keys'] is defined %}
  ssh_authorized_keys: {{ user['ssh_authorized_keys'] | to_json }}
{% endif %}
{% if user['system'] is defined %}
  system: {{ user['system'] }}
{% endif %}
{% endfor %}
{% endif %}
{% if (ddata['write_files'] is defined) or (idata['write_files'] is defined) %}
write_files: {{ [ddata['write_files'] is defined | ternary(ddata['write_files'], None), idata['write_files'] is defined | ternary(idata['write_files'], None) ] | flatten(1) | to_json }}
{% endif %}
