2bounce_notice_recipient = postmaster
alias_database = hash:/etc/aliases
alias_maps = hash:/etc/aliases
append_dot_mydomain = no
biff = no
bounce_notice_recipient = postmaster
compatibility_level = 2
inet_interfaces = all
inet_protocols = ipv4 ipv6
lmtp_tls_fingerprint_digest = sha256
local_recipient_maps = proxy:unix:passwd.byname $alias_maps
lsmtpd_recipient_restrictions = permit_mynetworks, reject_unknown_recipient_domain, reject_unlisted_recipient
lsmtpd_relay_restrictions = permit_mynetworks, reject_unauth_destination
lsmtpd_sasl_auth_enable=no
lsmtpd_tls_auth_only=yes
lsmtpd_tls_security_level=may
luser_relay =
mailbox_size_limit = 0
mta_recipient_restrictions = permit_mynetworks, reject_unknown_recipient_domain, reject_unlisted_recipient
mta_relay_restrictions = permit_mynetworks, reject_unauth_destination
mta_sasl_auth_enable=no
mydestination = {{ mail_local_destinations | unique | join(' ') }}
mydomain = {{ ansible_facts['fqdn'] }}
myhostname = {{ ansible_facts['fqdn'] }}
mynetworks_style = host
myorigin = {{ ansible_facts['fqdn'] }}
notify_classes = resource, software, 2bounce
readme_directory = no
relayhost = [localhost] # No outgoing non-local mail
sender_dependent_default_transport_maps = hash:/etc/postfix/sender_default_transport_map
smtpd_banner = $myhostname ESMTP $mail_name
smtpd_client_restrictions = reject_unauth_pipelining
smtpd_recipient_restrictions = permit_mynetworks, reject_unknown_recipient_domain, reject_unlisted_recipient
smtpd_relay_restrictions = permit_mynetworks, reject_unauth_destination
smtpd_sasl_auth_enable=no
smtpd_tls_cert_file = {{ public_cert_cert_file }}
smtpd_tls_fingerprint_digest = sha256
smtpd_tls_key_file = {{ public_cert_key_file }}
smtpd_tls_security_level=may
smtp_tls_CApath=/etc/ssl/certs
smtp_tls_fingerprint_digest = sha256
smtp_tls_security_level=may
smtp_tls_session_cache_database = btree:${data_directory}/smtp_scache
unknown_local_recipient_reject_code = 550
unverified_recipient_reject_reason = Address lookup failed
virtual_alias_domains = {{ virtual_alias_domains | join(' ') }}
virtual_alias_maps = hash:/etc/postfix/virtual_aliases
virtual_mailbox_domains = {{ virtual_mailbox_domains | join(' ') }}
virtual_mailbox_maps = hash:/etc/postfix/vmailbox
virtual_transport = lmtp:unix:private/dovecot-lmtp
