---
- name: Ensure VHost site operators exist
  become: yes
  loop: "{{ websites_static }}"
  loop_control:
    label: "{{ item.vhost.server_name_external }}"
  ansible.builtin.user:
    name: "{{ item.operator }}"
    password_lock: true
    shell: /bin/bash
    state: present
- name: Ensure VHost webroots exist
  become: yes
  loop: "{{ websites_static }}"
  loop_control:
    label: "{{ item.vhost.server_name_external }}"
  ansible.builtin.file:
    path: /var/www/{{ item.vhost.server_name_external }}
    group: "{{ item.operator }}"
    mode: "0775"
    owner: root
    state: directory
- name: Provide a default homepage if site is empty
  become: yes
  loop: "{{ websites_static }}"
  loop_control:
    label: "{{ item.vhost.server_name_external }}"
  ansible.builtin.copy:
    dest: /var/www/{{ item.vhost.server_name_external }}/index.html
    force: false
    group: "{{ item.operator }}"
    mode: "0644"
    owner: "{{ item.operator }}"
    src: index.html
- name: Ensure rsync is installed
  become: yes
  ansible.builtin.apt:
    name: rsync
    state: present
- name: Setup admin access to site operator home (for rsyncd.conf)
  become: yes
  loop: "{{ websites_static }}"
  loop_control:
    label: "{{ item.vhost.server_name_external }}"
  ansible.builtin.file:
    path: /home/{{ item.operator }}
    group: "{{ admin_user }}"
    mode: "0750"
    owner: "{{ item.operator }}"
    state: directory
- name: Setup admin access to site operator rsyncd.conf
  become: yes
  loop: "{{ websites_static }}"
  loop_control:
    label: "{{ item.vhost.server_name_external }}"
  ansible.builtin.template:
    dest: /home/{{ item.operator }}/rsyncd.conf
    group: "{{ admin_user }}"
    mode: "0664"
    owner: root
    src: rsyncd-website.conf.j2
- name: Enable SSH (and therefore rsync)) for site operators
  become: yes
  loop: "{{ websites_static }}"
  loop_control:
    label: "{{ item.vhost.server_name_external }}"
  ansible.posix.authorized_key:
    key: "{{ item.ssh_key }}"
    user: "{{ item.operator }}"
    state: present
- name: Allow HTTPS in
  become: yes
  community.general.ufw:
    rule: allow
    direction: in
    proto: tcp
    port: 443
...
