Alias /SOGo/WebServerResources/ /usr/lib/GNUstep/SOGo/WebServerResources/
Alias /SOGo.woa/WebServerResources/ /usr/lib/GNUstep/SOGo/WebServerResources/
AliasMatch /SOGo/so/ControlPanel/Products/(.*)/Resources/(.*) /usr/lib/GNUstep/SOGo/$1.SOGo/Resources/$2

<Directory /usr/lib/GNUstep/SOGo/>
	AllowOverride None

	<IfVersion < 2.4>
		Order deny,allow
		Allow from all
	</IfVersion>
	<IfVersion >= 2.4>
		Require all granted
	</IfVersion>

	# Explicitly allow caching of static content to avoid browser specific behavior.
	# A resource's URL MUST change in order to have the client load the new version.
	<IfModule expires_module>
		ExpiresActive On
		ExpiresDefault "access plus 1 year"
	</IfModule>
</Directory>

# generated 2022-12-27, Mozilla Guideline v5.6, Apache 2.4.54, OpenSSL 1.1.1n, modern configuration, no HSTS, no OCSP
# https://ssl-config.mozilla.org/#server=apache&version=2.4.54&config=modern&openssl=1.1.1n&hsts=false&ocsp=false&guideline=5.6

# this configuration requires mod_ssl
<VirtualHost *:{{ gdav_port }}>
	# ServerName {{ gdav_server_name_external }}
	SSLEngine On
	SSLCACertificateFile {{ env_conn_admin[envname]['private_ca_cert_file'] }}
	SSLCertificateFile {{ host_private_cert_cert_file }}
	SSLCertificateKeyFile {{ host_private_cert_key_file }}
	SSLVerifyClient On

	# Redirect / to /SOGo
	RedirectMatch permanent ^/$ https://{{ gdav_server_name_external }}/SOGo

	# enable HTTP/2, if available
	Protocols h2 http/1.1

	DocumentRoot /usr/lib/GNUstep/SOGo/WebServerResources/
	ServerSignature Off

	<LocationMatch "^/SOGo/so/ControlPanel/Products/.*UI/Resources/.*\.(jpg|png|gif|css|js)">
		SetHandler default-handler
	</LocationMatch>

	ProxyRequests Off
	SetEnv proxy-nokeepalive 1
	ProxyPreserveHost On
	ProxyPass /SOGo http://127.0.0.1:20000/SOGo retry=0

	<Proxy http://127.0.0.1:20000/SOGo>
		<IfModule headers_module>
			RequestHeader set "x-webobjects-server-port" "443"
			SetEnvIf Host (.*) HTTP_HOST=$1
			SetEnvIf X-Remote-User (.*) REMOTE_USER=$1
			RequestHeader set "x-webobjects-server-name" "%{HTTP_HOST}e" env=HTTP_HOST
			RequestHeader set "x-webobjects-server-url" "https://%{HTTP_HOST}e" env=HTTP_HOST
			RequestHeader set "x-webobjects-server-protocol" "HTTP/1.0"
			RequestHeader set "x-webobjects-remote-host" "%{REMOTE_HOST}e" env=REMOTE_HOST
			RequestHeader set "x-webobjects-remote-user" "%{REMOTE_USER}e" env=REMOTE_USER
			RequestHeader set "x-webobjects-auth-type" "Basic"
		</IfModule>

		AddDefaultCharset UTF-8

		Order allow,deny
		Allow from all
	</Proxy>

	# For Apple autoconfiguration
	<IfModule rewrite_module>
		RewriteEngine On
		RewriteRule ^/.well-known/caldav/?$ https://{{ gdav_server_name_external }}/SOGo/dav [R=301]
		RewriteRule ^/.well-known/carddav/?$ https://{{ gdav_server_name_external }}/SOGo/dav [R=301]

		## We use mod_rewrite to pass remote address to the SOGo proxy.
		# The remote address will appear in SOGo's log files and in the X-Forward
		# header of emails.
		RewriteRule ^/SOGo/(.*)$ /SOGo/$1 [env=REMOTE_HOST:%{REMOTE_ADDR},PT]
	</IfModule>

	ErrorLog ${APACHE_LOG_DIR}/error.log
	Customlog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>

# modern configuration
SSLProtocol all -SSLv3 -TLSv1 -TLSv1.1 -TLSv1.2
SSLHonorCipherOrder off
SSLSessionTickets off
