{
	SOGoProfileURL = "postgresql://sogo:{{ sogodb_password }}@127.0.0.1:5432/sogo/sogo_user_profile";
	OCSFolderInfoURL = "postgresql://sogo:{{ sogodb_password }}@127.0.0.1:5432/sogo/sogo_folder_info";
	OCSSessionsFolderURL = "postgresql://sogo:{{ sogodb_password }}@127.0.0.1:5432/sogo/sogo_sessions_folder";
	OCSEMailAlarmsFolderURL = "postgresql://sogo:{{ sogodb_password }}@127.0.0.1:5432/sogo/sogo_alarms_folder";
	SOGoLanguage = English;
	SOGoLoginModule = Calendar;
	SOGoAppointmentSendEMailNotifications = YES;
	SOGoMailingMechanism = smtp;
	SOGoSMTPServer = "smtp://imapldev.ldev.thecshore.ca:587/?tls=YES";
	SOGoTimeZone = "America/Toronto";
	SOGoSentFolderName = Sent;
	SOGoTrashFolderName = Trash;
	SOGoDraftsFolderName = Drafts;
	SOGoIMAPServer = "imaps://imapldev.ldev.thecshore.ca:143/?tls=YES";
	SOGoSieveServer = "sieve://imapldev.ldev.thecshore.ca:4190/?tls=YES";
	SOGoIMAPAclConformsToIMAPExt = YES;
	SOGoVacationEnabled = NO;
	SOGoForwardEnabled = NO;
	SOGoSieveScriptsEnabled = NO;
	SOGoFirstDayOfWeek = 0;
	SOGoMailMessageCheck = manually;
	SOGoMailAuxiliaryUserAccountsEnabled = YES;
	SOGoMemcachedHost = 127.0.0.1;
	SOGoUserSources =
	(
		{
			type = sql;
			id = directory;
			viewURL = "postgresql://sogo:{{ sogodb_password }}@127.0.0.1:5432/sogo/sogo_users";
			canAuthenticate = YES;
			isAddressBook = NO;
			userPasswordAlgorithm = argon2id;
		}
	);
}

